.userPhotos {
  height: 60px;
  width: 60px;
  border-radius: 5px;
}

.userLeft {
  position: relative;
  float: left;
}

.userRight {
  position: relative;
  float: right;
  /*padding-left: 70px;*/
}

.users {
  position: relative;
  float: left;
  width: 25%;
}

.reviewData {
  position: relative;
  float: right;
  width: 70%;
}

.review {
  padding: 10px;
  margin: 10px;
}